{{> mainmenu _id="events" }}

<section>
  {{#ifIsNotZero reqCount}}
    {{>requests}}
  {{/ifIsNotZero}}
  {{> error }}
  <div class="ui styled fluid accordion">
    <div class="active title">
      <i class="dropdown icon"></i>
      Events Hosted By You
    </div>
    <div class="active content">
      {{>eventlist}}
    </div>
    <div class="title">
      <i class="dropdown icon"></i>
      Create An Event
    </div>
    <div class="content">
      {{> createevent }}
    </div>
    <div class="title">
      <i class="dropdown icon"></i>
      RSVP to an event
    </div>
    <div class="content">
      <div class="ui ten wide column fluid form">
        <form action="/rsvplogin" method="POST">
          <div class="two fields">
            <div class="field">
              <label>Event ID</label> <input type="text" name="eventId">
            </div>
            <div class="field">
              <label>Guest ID</label> <input type="text" name="guestId">
            </div>
          </div>
          <button class="ui pink submit button">Go!</button>
        </form>
      </div>
    </div>
    <div class="title">
      <i class="dropdown icon"></i>
      My Invites
    </div>
    <div class="content">
      {{> invitelist }}
    </div>
  </div>

  <script language='javascript'>
    $(document).ready(function(){
      $('.ui.accordion').accordion();
    });
  </script>

</section>